Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -portability-avoid-pragma-once
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*(\.cache/CPM|/build/)).*$'
FormatStyle: file
